<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184896051351-29mde4vsmsk8hloengbs8ost9m4i42th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184896051351-29mde4vsmsk8hloengbs8ost9m4i42th</string>
	<key>API_KEY</key>
	<string>AIzaSyCbuuaUe4g9xOIMt31JKU4wesWcgNMMJkI</string>
	<key>GCM_SENDER_ID</key>
	<string>184896051351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.leuname.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e3ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e3ee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184896051351:ios:2671ccb74293f1909bb1d2</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e3ee0.firebaseio.com</string>
</dict>
</plist>